<!DOCTYPE html>
<head>
    <title>Smart screen</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'screen/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'screen/app.js' %}"></script>
</head>


<body>
<div id="slideshow">
    {% block content %}
    <div>
        <img class="slide showing" src="{{ photosList.0}}" alt="Photo">
    </div>

    {% for photo in photosList|slice:"1:" %}
    <div>
        <img class="slide" src="{{ photo }}" alt="Photo">
    </div>
    {% endfor %}
    {% endblock %}
</div>
</body>

